@page
@using Microsoft.AspNetCore.Mvc.Localization
@using STS.LocPoC.LocationService.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using STS.LocPoC.LocationService.Web.Pages.UserLocations
@using STS.LocPoC.LocationService.UserLocations;
@using System.Globalization
@inject IHtmlLocalizer<LocationServiceResource> L
@model CreateModalModel
@{
    Layout = null;
}


<form data-ajaxForm="true" asp-page="/UserLocations/CreateModal" autocomplete="off">
    <abp-modal id="UserLocationCreateModal">
        <abp-modal-header title="@L["NewUserLocation"].Value"></abp-modal-header>

        <abp-modal-body>

                    
                    

            <abp-input asp-for="UserLocation.UserId"   />


            <abp-input asp-for="UserLocation.Longitude"   />


            <abp-input asp-for="UserLocation.Latitude"   />

                    
                


        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">

        </abp-modal-footer>
    </abp-modal>
</form>
